body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Segoe Print;
}

.intro-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #0000ff,    #ff0000);
    background-size: 400% 400%;
    animation: gradientShift 5s ease infinite;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
}

.intro-screen h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s forwards 0.5s;
}

.intro-screen h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s forwards 1s;
}

.intro-screen h6 {
    font-size: 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s forwards 9s, blink 1.5s infinite 10.5s;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de parpadeo */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}